# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp
aiosignal
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
blas
bleach
blinker
bottleneck
brotli
brotlipy
c-ares
ca-certificates
certifi
cffi
click
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
expat
freetype
future
giflib
graphviz
idna
ipykernel
ipython
ipython_genutils
jedi
jinja2
joblib
jpeg
jsonschema
jupyter_client
jupyter_core
jupyterlab_pygments
lcms2
libcxx
libffi
libgfortran
libgfortran5
libiconv
libopenblas
libpng
libprotobuf
libsodium
libtiff
libwebp
libwebp-base
llvm-openmp
lz4-c
markupsafe
matplotlib-base
matplotlib-inline
mistune
munkres
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
ninja
ninja-base
notebook
numexpr
numpy
numpy-base
oauthlib
openssl
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
prometheus_client
prompt-toolkit
ptyprocess
pure_eval
pyasn1
pycparser
pygments
pyjwt
pyopenssl
pyparsing
pyrsistent
pysocks
python
python-dateutil
python-fastjsonschema
pytorch
pytz
pyzmq
readline
scikit-learn
seaborn
send2trash
setuptools
six
soupsieve
sqlite
stack_data
statsmodels
terminado
testpath
threadpoolctl
tk
tornado
tqdm
traitlets
typing-extensions
typing_extensions
urllib3
wcwidth
webencodings
wheel
xz
zeromq
zipp
zlib
zstd
